
body {
    background-color:dimgray;
    background-size: cover;
    padding-left: 500px;
    
}
h1 {
    background-color:bisque;
    color: red;
}
.ok {
    color: bisque;
}
.ok1 {
    color: bisque;
    
}
.ok2 {
    color: bisque;
}
.done {
    color: darkseagreen;
}
.done1 {
    color: beige;
}
.done2 {
    color: blanchedalmond;
}
.done3 {
color: azure;
}
.done4 {
    color: burlywood;
}
.done5 {
    color: brown;
}
.nut{

}